---
title: How to apply
banner_image: /assets/img/greenland_camp.jpg
---
<!-- Application Process -->
<section class="row px-2 px-lg-0 ">
  
  <div class="alert alert-primary" role="alert">
    <h1>Deadline: 29 October 2023</h1>
  <p>
    Complete the <a href="#form">online form</a> below, or alternatively send a completed copy of the printable version to <a href="mailto:applications@cryoskills.com">applications@cryoskills.com</a> by the deadline above. We will notify you of the outcome of your application by <strong>10 November 2023</strong> at latest. Please see the <a href="#timeline">Timeline and Application process</a> section for more details.
  </p>
  </div>
</section>

<!-- Application Details -->
<section class="row">
  <h1>Application Details</h1>
  <div class="col-lg-3 my-3 order-lg-2">
    <div id="list-example" class="list-group">
      
      {% for subpage in site.data.apply_subpages %}
      <a class="list-group-item list-group-item-action" href="#{{ subpage.link }}">{{subpage.title}}</a>
      {% endfor %}

    </div>
  </div>
  <div class="col-lg-9 order-lg-1">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" tabindex="0" style="height: 50vh; overflow: auto" class="px-3 ps-lg-0 pe-lg-3">
      <!----------------------------------------------------------------------->

      {% for subpage in site.data.apply_subpages %}
      <section>
        <h2 id="{{subpage.link}}">{{subpage.title}}</h2>
        {% capture subpage_url %}apply/{{ subpage.url }}{% endcapture %}
        {% capture contents %}{% include {{subpage_url}} %}{% endcapture %}
        {{ contents | markdownify }}
      </section>
      {% endfor %}

    </div>
  </div>
</section>

<section class="row my-5">
  <div class="col-lg-9">
    <h1 id="form">Application Form</h1>
    <div class="alert alert-primary" role="alert">
      Applications open on <strong>02 October 2023</strong> - revisit this page on or after that date to complete the application form.
    </div>
    <p>
      If the embedded version of the application form below does not work, you can <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vLVjQ9TWDjhPkLGtRS3Cvi1UQTg4NEYyQVY4RDNKUVQyS1RPNDhCSE1MMS4u">fill in the form here</a>.
    </p>
    <div class="row my-5">
      <iframe class="col-12" width="690px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vLVjQ9TWDjhPkLGtRS3Cvi1UQTg4NEYyQVY4RDNKUVQyS1RPNDhCSE1MMS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    </div>
    
    <!-- Offline application form -->
    <h3 id="email">Printable application form</h3>
    <div class="alert alert-primary" role="alert">
      The printable application form will be available after <strong>02 October 2023</strong>.
    </div>
    <p>
      If you would prefer to complete the application form offline, please download a copy from the table below and email to <a href="mailto:{{ site.application_email }}">{{site.application_email}}</a> by <strong>11:59pm (GMT) on 29 October 2023</strong>.
    </p>
      
    <div class="table-responsive col-lg-6">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Form</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- Application Form Row -->
            <td scope="row">Application</td>
            <td>
              <span class="d-none d-lg-inline"></span><a name="" id="" class="btn btn-outline-info mx-2 my-1" href="javascript:alert('The Word form will be available when applications open.');" role="button">Word</a>
              <a name="" id="" class="btn btn-outline-danger mx-2 my-1" href="javascript:alert('The PDF form will be available when applications open.');" role="button">PDF</a>
            </td>
          </tr>
          <!-- <tr>
            <th scope="row">EDI Survey</th>
            <td>
              <span class="d-none d-lg-inline">Download: </span><a name="" id="" class="btn btn-info mx-2 my-1" href="#" role="button">Word</a>
              <a name="" id="" class="btn btn-danger mx-2 my-1" href="#" role="button">PDF</a>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <!-- <a name="" id="" class="btn btn-success my-3 mx-2" href="mailto:{{site.application_email}}" role="button">Email your application</a>   -->
  </div>
</section>

<section class="row my-5">
  <div class="col-lg-9">
  <h1 id="edisurvey">Anonymous EDI Survey (Optional)</h1>
  <div class="alert alert-warning" role="alert">
    The EDI survey is <strong>anonymous</strong> and <strong>optional</strong>. Results will be used to help inform the application process for future courses.
  </div>
  <p>
    The survey form will be available when applications open on <strong>02 October 2023</strong>.
  </p>
  <!-- <div class="row">
    <iframe class="col-12" width="690px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vLVjQ9TWDjhPkLGtRS3Cvi1UQTg4NEYyQVY4RDNKUVQyS1RPNDhCSE1MMS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
    </div> -->
  </div>
</section>



</div>
