
<div class="py-5 container text-center align-items-center">
    <div class="py-5 row">
        <div class="col">
            <h1 style="color: #fff;" class="display-1 text-uppercase text-center">Learn to build instrumentation for cold environments</h1>
        </div>
    </div>
    <div class="py-5 row">
        <div class="col">
            <a type="button" class="btn btn-success btn-lg px-4 mx-2" href="{{ site.baseurl }}{% link apply.html %}">Apply</a>
            <a type="button" class="btn btn-secondary btn-lg px-4 mx-2" href="{{ site.baseurl }}{% link about.html %}">Learn More</a>
        </div>
    </div>
</div>